/*
#0B0C10
#1f2833
#C5C6C7
#66FCF1
#45A29E
*/

* {
}
.App {
  min-height: 400vh;
  background-color: #1f2833;
  overflow-x: hidden;
}

.Season {
  color: #66fcf1;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 25px;
  margin-top: 50px;
  margin-bottom: 100px;
  font-family: Arial, Helvetica, sans-serif;
}

.compare-button {
  margin: 30px;
  background: #0b0c10;
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
  padding: 10px 20px;
  border-radius: 12px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  border-color: #66fcf1;
  border-width: 2px;
}

.compare-button:hover {
  cursor: pointer;
  background: #1f2833;
}

.compare-button:focus {
  outline: 0;
  border-color: #45a29e;
}

.p1-stats {
  width: 33.3%;
  color: white;
  display: flex;
  min-height: 70vh;
  align-items: center;
  justify-content: center;
  float: left;
  flex-direction: column;
}

.categories {
  width: 33.3%;
  display: flex;
  min-height: 70vh;
  align-items: center;
  justify-content: center;
  float: left;
  flex-direction: column;
}

.p2-stats {
  width: 33.3%;
  display: flex;
  min-height: 70vh;
  align-items: center;
  justify-content: center;
  float: left;
  flex-direction: column;
}

.p-searchsection {
  float: left;
  min-height: 10vh;
  width: 50%;
}

.p-form {
  min-height: 10vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  float: left;
}

.p-searchbar {
  width: 30%;
  padding: 10px;
  border-color: #66fcf1;
  border-width: 2px;
  border-style: solid;
  font-size: 15px;
  border-radius: 12px;
  background-color: #0b0c10;
  color: white;
}

.p-searchbar:hover {
  background-color: #1f2833;
}

.p-searchbar:focus {
  outline: 0;
  border-color: #45a29e;
}

.p-suggestions {
  min-height: 25vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.suggTop {
  min-width: 30vh;
  min-height: 4vh;
  display: flex;
  cursor: pointer;
  align-items: center;
  text-indent: 10px;
  font-size: 15px;
  border-width: 1px 2px 1px 2px;
  border-style: solid;
  border-color: black;
}
.suggTopMid {
  min-width: 30vh;
  min-height: 4vh;
  display: flex;
  cursor: pointer;
  align-items: center;
  text-indent: 10px;
  font-size: 15px;
  border-width: 0.5px 2px 0.5px 2px;
  border-style: solid;
  border-color: black;
}
.suggMid {
  min-width: 30vh;
  min-height: 4vh;
  display: flex;
  cursor: pointer;
  align-items: center;
  text-indent: 10px;
  font-size: 15px;
  border-width: 0.5px 2px 0.5px 2px;
  border-style: solid;
  border-color: black;
}
.suggBotMid {
  min-width: 30vh;
  min-height: 4vh;
  display: flex;
  cursor: pointer;
  align-items: center;
  text-indent: 10px;
  font-size: 15px;
  border-width: 0.5px 2px 0.5px 2px;
  border-style: solid;
  border-color: black;
}

.suggBot {
  min-width: 30vh;
  min-height: 4vh;
  display: flex;
  cursor: pointer;
  align-items: center;
  text-indent: 10px;
  font-size: 15px;
  border-width: 1px 2px 2px 2px;
  border-style: solid;
  border-color: black;
}

.suggTop:hover,
.suggTopMid:hover,
.suggMid:hover,
.suggBotMid:hover,
.suggBot:hover {
  background-color: #1f2833;
  border-color: #45a29e;
}

.allSugg {
  background-color: #0b0c10;
  color: white;
}

.pName {
  color: white;
  display: flex;
  justify-content: center;
}

.pFGM,
.pFTM,
.pPoints,
.pRebounds,
.pAssists,
.pSteals,
.pBlocks,
.pTurnover {
  color: white;
  display: flex;
  justify-content: center;
}
