.App {
  min-height: 100vh;
  background-image: linear-gradient(
    to top,
    #fdcbf1 0%,
    #fdcbf1 1%,
    #e6dee9 100%
  );
}

.compare-button {
  margin: 30px;
  background: lightblue;
  width: 14%;
  margin-left: 43%;
  margin-right: 43%;
  padding: 10px 20px;
  border-radius: 12px;
}

.p1-stats {
  width: 33%;
  background-color: green;
  display: flex;
  min-height: 50vh;
  align-items: center;
  justify-content: center;
  float: left;
  flex-direction: column;
}

.categories {
  background-color: red;
  width: 33%;
  display: flex;
  min-height: 50vh;
  align-items: center;
  justify-content: center;
  float: left;
  flex-direction: column;
}

.p2-stats {
  background-color: lightblue;
  width: 33%;
  display: flex;
  min-height: 50vh;
  align-items: center;
  justify-content: center;
  float: left;
  flex-direction: column;
}

.p-form {
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  float: left;
  background-color: red;
}

.p-searchbar {
  width: 20%;
  padding: 10px;
  border-color: black;
}

.p-suggestions {
  min-height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: purple;
}

.p1-searchsection {
  background-color: green;
  float: left;
  min-height: 10vh;
  width: 50%;
}
