.App {
  min-height: 100vh;
  background-image: linear-gradient(
    to top,
    #fdcbf1 0%,
    #fdcbf1 1%,
    #e6dee9 100%
  );
}

.p1-form {
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  float: left;
}

.p2-form {
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  float: left;
}

.p1-searchbar {
  width: 20%;
  padding: 10px;
  border-color: black;
}

.p2-searchbar {
  width: 20%;
  padding: 10px;
  border-color: black;
}

.compare-button {
  margin: 30px;
  background: lightblue;
  width: 14%;
  margin-left: 43%;
  margin-right: 43%;
  padding: 10px 20px;
  border-radius: 12px;
}
